// Fonts

@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Raleway);

$raleway: 'Raleway', sans-serif;
$gloria: 'Gloria Hallelujah', cursive;

//Colors

$dark-blue: #100828;
$lighter-blue: #281D57;
$lightest-blue: #38297A;
$white: #fff;
$spacial-grey: #F5E9FA;

// Mixins

@mixin display-flex {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center; /* Safari 6.1+ */
    justify-content: center;
}


// General Styles
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: $raleway;
    font-size: 16px;
    color: $spacial-grey;
    background: url('../img/space-bg-2.jpg') repeat-y scroll 0 0 transparent;
    background-size: cover;
    min-height: 100%;
    position:relative;

    a {
        color: $white;
        text-decoration: underline;
        &:hover {
            color: $lightest-blue;
        }
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $gloria;
    }
}



/*Header*/

.navbar-universe {
    background-color: $dark-blue;
    border-color: $dark-blue;
    padding: 1.5rem 0;

    .navbar-header {
        @include display-flex;

        .navbar-brand {
            @include display-flex;

            h1 {
                color: $spacial-grey !important;
                font-size: 1.6em;
                margin: 0 0 0 1rem;
            }
        }
    }

    .navbar-nav {
        float: right;
        li {
              >a {
                    color: $white;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    text-decoration: none;

                    &:hover,
                    &:focus {
                        background-color: transparent;
                        text-decoration: underline;
                    }
              }
        }
    }
}


/*Hambuger menu in all screen-sizes*/
// @media (max-width: 2500px) {
//   .custom-navbar .navbar-header {
//     float: none;
//   }
//
//   .custom-navbar .navbar-left,
//   .custom-navbar .navbar-right {
//     float: none !important;
//   }
//
//   .custom-navbar {
//       .navbar-toggle {
//         display: block;
//         margin: 0;
//       }
//
//       &.navbar-fixed-top {
//         top: 0;
//         border-width: 0 0 1px;
//       }
//
//       .navbar-collapse.collapse {
//           display: none!important;
//       }
//
//
//
//       .collapse.in {
//         display: block !important;
//         float: right;
//         width: 100%;
//       }
//
//       .custom-navbar .navbar-nav .open .dropdown-menu {
//         position: static;
//         float: none;
//         width: auto;
//         margin-top: 0;
//         background-color: transparent;
//         border: 0;
//         -webkit-box-shadow: none;
//         box-shadow: none;
//       }
//   }
//
// }




#main {
    padding-bottom: 200px;
    .wrapper-main {
        background-color: $dark-blue;
        padding: 5rem;

        #photos-nasa {
            text-align:center;
            h2 {
                border-bottom: 8px double $white;
                color:$white;
                display: inline-block;
            }

            .photo-circle {
                img {
                    margin: 0 auto;
                    max-height: 300px;
                }
            }
        }

        #things-around-earth {
            margin-top: 6rem;

            .row {
                @include display-flex;
            }
        }

        // Why Page

        span {
            font-style: italic;
        }

        .list-api {
            padding-left: 3.5rem;
        }
        .social-network {
            li {
                display: inline-block;
                font-size: 5rem;
                padding: 0 1rem;
            }
        }
    }

}

    // Footer

    footer {
        background-color: $dark-blue;
        bottom: 0;
        color: $white;
        padding: 3rem 0;
        position: absolute;
        text-align: center;
        width:100%;
    }
